/JavaBasic/build
/JavaBasic/gradle
/JavaBasic/.gradle
/JavaBasic/bin
/SpringBootBasic/gradle
/SpringBootBasic/.gradle
/SpringBootBasic/bin
/SpringBootBasic/build
/SpringBootBasic/logs
/SpringBootMybatisBase/.classpath
/SpringBootMybatisBase/.gradle
/SpringBootMybatisBase/bin
/SpringBootMybatisBase/build
/SpringBootMybatisBase/gradle
/SpringBootMybatisBase/logs
/BaseSpringBootProject/build
/BaseSpringBootProject/gradle
/BaseSpringBootProject/logs
/BaseSpringBootProject/.classpath
/BaseSpringBootProject/.gradle
/BaseSpringBootProject/bin
